.clause {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
  color: #a5a1b2;
}
.clause-content {
  display: block;
  font-size: 15px;
  line-height: 22px;
  font-style: normal;
}
.clause-content--hidden {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
}
.clause__toggle {
  margin-top: 8px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
