.chevrone {
  background-color: transparent;
  border: none;
  opacity: 0.6;
  cursor: pointer;
}
.chevrone:hover {
  opacity: 1;
}
.large {
  width: 32px;
}
.small {
  width: 20px;
}

.chevrone svg {
  width: inherit;
  height: auto;
}
